<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<link href="/third-party/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/screen.css" rel="stylesheet">
	<link href="/dynamic/less/screen.css" rel="stylesheet">
	<script src="/third-party/sea.js"></script>
	<script src="/third-party/jquery-2.1.1.min.js"></script>
	<script src="/third-party/highcharts-all.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<title><%= title%></title>
</head>
<body>
	<audio id="dom-background-audio"></audio>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<%=title%></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:void(0)" class="dom-playing-name"></a></li>
					<li><a href="javascript:void(0)" class="dom-playing-player"></a></li>
					<li><a href="javascript:void(0)" class="dom-time" ></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div id="display-data"></div>

		</div>
	</div>
	<nav class="navbar navbar-inverse  navbar-fixed-bottom" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="javascript:void(0)">
						<%- lang.screen.footer.left%></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="javascript:void(0)">
						<%- lang.screen.footer.right%></a>
				</li>
			</ul>
		</div>
	</nav>

	<script>
	var config = <%-JSON.stringify(config)%>;
	seajs.config({
      paths: {
        'screen': '/screen',
        'ext': '/screen/ext'
      },
      alias: {
      }
    });
    seajs.use('screen/main');
	</script>
</body>
</html>