<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title><%= title %></title>
<link rel="stylesheet" href="/stylesheets/bootstrap.css" />
<meta charset="utf-8">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#"><%= title %>控制程序</a> </div>
    <div class="navbar-collapse collapse"> </div>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    <p>播放ID：<span class="dom-playing-id"></span></p>
    <p>正在播放：<span class="dom-playing-name"></span></p>
    <p>演唱者：<span class="dom-playing-player"></span></p>
    <p>音乐连接测试：<span class="dom-playing-bgmcheck">0</span></p>
    <p style="display:none">音乐控制台：
    <audio id="dom-audio-test" controls></audio>
    </p>
    <p> 
      <!--    <audio id="_audio" style="width:100%" controls></audio>--> 
    </p>
    <p>
      <input type="button" class="btn btn-info" value="播放" id="controlbutton-play"/>
      &nbsp;
      <input type="button" class="btn btn-warning" value="暂停" id="controlbutton-pause"/>
      &nbsp;
      <input type="button" class="btn btn-danger" value="停止" id="controlbutton-stop"/>
    </p>
    <p>
      <input type="button" class="btn btn-toolbar" value="上切" id="controlbutton-toggle-prev"/>
      &nbsp;
      <input type="button" class="btn btn-toolbar" value="下切" id="controlbutton-toggle-next"/>
      &nbsp;
      （自动切换：<span class="dom-autoplay"></span>）
    </p>    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div id="latestlog"> </div>
    <p></p>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/jquery-2.0.3.min.js"></script> 
<script src="/js/bootstrap.min.js"></script> 
<script src="/js/holder.min.js"></script> 
<script src="/js/global.js"></script> 
<script>
"use stricts";
var IN_SCREEN = false;

var queue = {"data": [], "callback": []}, queue_max = 0;
var programs = null, program = null, program_id = -1;
var audio_obj = null;

var in_score_background_music = null, no_audio_default_bgm = null;



$(function(){
	
	no_audio_default_bgm = '/multimedia/empty.mp3';
	
	$("#controlbutton-play").click(function(){send_request("audio", "play")});
	$("#controlbutton-pause").click(function(){send_request("audio", "pause")});
	$("#controlbutton-stop").click(function(){send_request("audio", "stop")});
	$("#controlbutton-toggle-prev").click(function(){send_request("screen", {"method": "toggle", "pageplus": -1})});
	$("#controlbutton-toggle-next").click(function(){send_request("screen", {"method": "toggle", "pageplus": 1})});
	
	audio_obj = document.getElementById("dom-audio-test");
	audio_obj.autoplay = true;
	audio_obj.addEventListener("durationchange", function(e){
		$(".dom-playing-bgmcheck").html(audio_obj.duration);
	});
	
	socket = io.connect(location.origin);
	socket.on('error', function (err) {
		if (err && (err.code == 'ECONNREFUSED' || err.indexOf && err.indexOf('ECONNREFUSED') >= 0)) {
			var reconnecting = setTimeout(function () {
				socket.reconnect();
			}, 500); //assume a little threshold
			socket.on('connect', function () {
				clearTimeout(reconnecting);
				socket.removeListener('connect', arguments.callee);
			});
		}
	});
	socket.on('result', function(data){
		var id = data.data_id;
		if(id > 0 && queue.data[id]){
			console.log('Request ' + id + ' finished!');
			queue.callback[id]();
			delete queue.data[id];
			delete queue.callback[id];
		}
	});
	socket.on('whoami', function(){
		socket.emit('whoami', 'client');
		socket.emit('global', {"need": "data"});
	});
	socket.on('data', function(data){
		programs = data;
		program_id = 0;
	});
	
	
	
});

var send_request = function(name, data, callback){
	if (typeof(data) == 'string') data = {'method': data};
	if (!data) data = {};
	if (typeof(callback) == "undefined") callback = function(){}
	
	queue_max++;
	queue.data[queue_max] = { name : name, data : data , id : queue_max };
	queue.callback[queue_max] = callback;
	console.log(queue.data[queue_max]);
	socket.emit(name, queue.data[queue_max]);
	
}

var init_program = function(){
	$(".dom-playing-id").text(program.id);
	$(".dom-playing-name").text(program.program.name);
	$(".dom-playing-player").text(program.player.name);
	$(".dom-autoplay").text((function(){
		if (program.display.length > 0)
		{
			return (program.display[0].time ? "√" + (program.display[0].repeat ? "(repeat)" : "") : "×");
		}
		else
		{
			return "×"
		}
	})());
}

</script>
</body>
</html>