<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/client.css" rel="stylesheet">
  <script src="/sea.js"></script>
  <script src="/jquery-2.1.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <title><%= title%></title>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%=title%></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right"></ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active">
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Data Editor</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Information</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
              <div class="panel-body">
                <p>
                  Playing ID:
                  <span class="dom-playing-id"></span>
                </p>
                <p>
                  Program:
                  <span class="dom-playing-name"></span>
                </p>
                <p>
                  Performer:
                  <span class="dom-playing-player"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Program Control</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel">
              <div class="panel-body">
                <p>
                  Select a program:
                  <select id="controlselect-changeprogram" class="form-control select-command" data-command="toProgram" data-param="{action: 'absolute', pos: %val%}"></select>
                </p>
                <p>
                  <button class="btn btn-default btn-command" data-command="toProgram" data-param="{action: '', pos: -1}"  id="controlbutton-prev">Prev</button>
                  &nbsp;
                  <button class="btn btn-success btn-command" data-command="toProgram" data-param="{action: '', pos: 1}"  id="controlbutton-next" >Next</button>
                  &nbsp;
                  <button class="btn btn-default btn-command" data-command="toProgram" data-param="{action: 'absoulue', pos: 0}"  id="controlbutton-background">Mode Background</button>
                  &nbsp;
                  <button class="btn btn-default btn-command" data-command="toScore" data-param="{}"  id="controlbutton-score">Mode Score</button>

                </p>
              </p>
            </div>

          </div>
        </div>
      </div>
      <div class="panel-group" id="accordion3" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion3" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Slide  &amp; Music Control</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
              <p>
                Select a music:
                <select id="controlselect-changebgm" class="form-control select-command" data-command="controlMultimedia" data-param="{method: 'toggle', param: {action: 'absolute', pos: %val%}}"></select>
              </p>
              <p>
                <button class="btn btn-success btn-command" data-command="toggleSlide" data-param="{action: '', pos: -1}" id="controlbutton-toggle-background-prev">Prev Slide</button>
                &nbsp;
                <button class="btn btn-success btn-command" data-command="toggleSlide" data-param="{action: '', pos: 1}" id="controlbutton-toggle-background-next">Next Slide</button>
                &nbsp;
                <button class="btn btn-default btn-command" data-command="controlMultimedia" data-param="{method: 'toggle', param: {action: '', pos: -1}}" id="controlbutton-toggle-music-prev">Prev Music</button>
                &nbsp;
                <button class="btn btn-default btn-command" data-command="controlMultimedia" data-param="{method: 'toggle', param: {action: '', pos: 1}}" id="controlbutton-toggle-music-next">Next Music</button>
              </p>
              <p></p>
              <p>
                <button class="btn btn-info btn-command" data-command="controlMultimedia" data-param="{method: 'play'}" id="controlbutton-play">Play</button>
                &nbsp;
                <button class="btn btn-warning btn-command" data-command="controlMultimedia" data-param="{method: 'pause'}"   id="controlbutton-pause">Pause</button>
                &nbsp;
                <button class="btn btn-danger btn-command" data-command="controlMultimedia" data-param="{method: 'stop'}"   id="controlbutton-stop">Stop</button>
              </p>

            </div>
          </div>
        </div>
      </div>

      <div class="panel-group" id="accordion5" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion5" href="#collapseFive" aria-expanded="true" aria-controls="collapseThree">Advanced</a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel">
            <div class="panel-body">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-info btn-command" data-command="initPage" data-param="{}" type="button" id="controlbutton-init">Refresh</button>
                </span>
                <input type="text" class="form-control" id="text-javascript" placeholder="JavaScript Here">
                <span class="input-group-btn">
                  <button class="btn btn-success btn-command" data-command="runJavaScript" data-param="{}" type="button" id="controlbutton-postjavascript">Run</button>
                </span>
              </div>

            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
<audio id="dom-audio-test"></audio>

<script>
  seajs.config({
      paths: {
        'client': '/client',
        'ext': '/client/ext'
      },
      alias: {
      }
    });
    seajs.use('client/main');
</script>
</body>
</html>