<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
<title><%= title %></title>
<link href="/stylesheets/bootstrap.css" rel="stylesheet">
<link href="/stylesheets/carousel.css" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/holder.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/highcharts-all.js"></script>
<style type="text/css">
/* 2885 * 1600 */
body {
	cursor: none;
	overflow: hidden;/*cursor: url(/cursor.png);*/
}
.template-hide {
	display: none;
}
.full-screen .col-md-7, .full-screen .col-md-5 {
	margin-left: -560px;
	margin-top: -150px;
	float: left;
	width: 3000px;
	height: 1440px;
}
.full-screen .img-fullscreen, .full-screen video {
	height: 1440px !important;
	width: 2893px !important;
}
.img-1x1 {
	/*height: 1px !important;
	width: 1px !important;*/
	display: none;
}
</style>
<title><%= title%></title>
</head>
<body>
<audio id="dom-background-audio"></audio>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"> <a class="navbar-brand hidden-sm" href="/"><%= title %></a> </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="javascript:void(0)" class="dom-playing-name">正在演唱</a></li>
        <li><a href="javascript:void(0)" class="dom-playing-player">演唱者</a></li>
        <li><a href="javascript:void(0)" class="dom-time" >时间</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="program-background">
  <hr style="height:0;width:0;" id="display-hr-0" />
  <div id="display-area-0" class="carousel slide display-data" data-ride="carousel" style="display:none">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <p>&nbsp;</p>
            <h1 class="dom-playing-name"></h1>
            <p>&nbsp;</p>
            <p class="likeh2"><code class="yahei-font"><span class="dom-playing-player"></span></code></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container marketing display-data" id="">
    <canvas class="img-fullscreen img-tag" id="canvas" width="2893" height="1440"></canvas>
  </div>
  <div class="container marketing" id="dom-data"> </div>
</div>
<div id="program-score" style="margin-left:10000px">
  <div class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <div id="dom-score">
            <div class="carousel-caption">
              <p>&nbsp;</p>
              <h1>分数计算中……</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="javascript:void(0)">欢迎关注新浪微博 @福州八中三江口学生会文体部 @福州八中三江口学生会</a></li>
          <li><a href="javascript:void(0)">LED控制程序由福州八中科技与新媒体部zsx制作</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="pre-load-img" style="display:none"></div>
<script type="text/template" id="template-detail" class="template-hide">
<!--<hr class="featurette-divider" id="display-hr-[id]" style="height:0px;width:0px"/>-->
  <div class="row featurette display-data desc-data" id="display-area-[id]" data-type="[type]" style="display:none">
    [multimedia]
  </div>
</script> 
<script type="text/template" id="template-b-halfscreen" class="template-hide">
	<div class="half-screen">
		[left-screen]
		<div class="col-md-7">
		  <p class="lead">[desc]</p>
		</div>
		[right-screen]
	</div>
</script> 
<script type="text/template" id="template-b-fullscreen" class="template-hide">
	<div class="full-screen">
	[full-screen]
	</div>
</script> 
<script type="text/template" id="template-c-image" class="template-hide">
<div class="col-md-5">
<canvas class="img-fullscreen img-tag" width="2893" height="1440"></canvas>
</div>
</script> 
<script type="text/template" id="template-c-text" class="template-hide">
<div class="lead">[desc]</div>
</script> 
<script type="text/template" id="template-c-video" class="template-hide">
<div class="col-md-5">
<video src="[url]"></video>
</div>

</script> 
<script type="text/javascript">
var IN_SCREEN = true;

var socket = null, audio_obj = null, multimedia_obj = null, thisDom = null, canvas = null, canvasContext = null;
var template_detail = '', template_b_halfscreen = '', template_b_fullscreen = '', template_c = [];
var scroll_int = 0, SCROLL_INDEX_INT = 0;
var programs = null, program = null, program_id = null, desc_data = null;
var in_score_background_music = null, no_audio_default_bgm = null;
var is_multimedia_display = false, is_repeat = false, is_fade = false;


$(function(){
	
	canvas = document.getElementById("canvas"),
	canvasContext = canvas.getContext("2d");
	
	template_detail  = document.getElementById("template-detail").innerHTML;
	template_b_halfscreen = document.getElementById("template-b-halfscreen").innerHTML;
	template_b_fullscreen = document.getElementById("template-b-fullscreen").innerHTML;
	template_c['image'] = document.getElementById("template-c-image").innerHTML;
	template_c['text'] = document.getElementById("template-c-text").innerHTML;
	template_c['video'] = document.getElementById("template-c-video").innerHTML;
	template_c['custom'] = '[desc]';
	
	no_audio_default_bgm = '/multimedia/empty.mp3';
	
		
	audio_obj = document.getElementById("dom-background-audio");
	audio_obj.preload = true;
	audio_obj.autoplay = true;
	audio_obj.addEventListener("canplaythrough",function(){
		log(audio_obj.src + "音频加载完毕");
	});
	audio_obj.addEventListener("play",function(){
		log(audio_obj.src + "开始播放");
	});
	audio_obj.addEventListener("pause",function(){
		log(audio_obj.src + "暂停播放");
	});
	audio_obj.addEventListener("timeupdate",function(){
		$(".dom-time").html(audio_obj.currentTime);
		
		//Check time and scroll
		
		if(scroll_int - 1 < desc_data.length && scroll_int < desc_data.length)
		{
			time = desc_data[scroll_int]["time"];
			if (time)
			{	
				curTime = audio_obj.currentTime;
				minusTime = Math.abs(time - curTime);
				console.log('currentTime:' + curTime + ', nextTime:' + time + ', minusTime:' + minusTime);
				if (minusTime <= 1)
				{
					if (is_repeat)  //copy now obj to the end
					{
						var tmp = $.extend({}, desc_data[scroll_int]); 
						tmp["time"] = desc_data[desc_data.length - 1]["time"] + tmp["minus_time"];
						desc_data.push(tmp);
						console.log("Add a repeat obj:");
						console.log(tmp);
					}
					scroll_page();  //timeupdate event have delay
				}
				
			}
		}
	});	
	multimedia_obj = audio_obj;
	
	//sockets...
	socket = io.connect(location.origin);
	socket.on('error', function (err) {
		if (err && (err.code == 'ECONNREFUSED' || err.indexOf && err.indexOf('ECONNREFUSED') >= 0)) {
			var reconnecting = setTimeout(function () {
				socket.reconnect();
			}, 500); //assume a little threshold
			socket.on('connect', function () {
				clearTimeout(reconnecting);
				socket.removeListener('connect', arguments.callee);
			});
		}
	});
	socket.on('whoami', function(){
		socket.emit('whoami', 'screen');
		socket.emit('global', {"need": "data"});
	});
	socket.on('audio',  func_audio_events );
	socket.on('screen', func_screen_events);
	socket.on('page',   func_page_events  );
	socket.on('data',   func_data_events  );
	
});



var log = function(data){
	if (data) console.log(data);
}

var writedesc_and_formatdata = function(){
	var str_return = '', tmp = '', tmpb = '', link_tmp = '';
	var replace_tag = '', null_tag = '';
	$(".display-data img").attr("src", "");
	//$(".display-data").remove();
	$(".pre-load-img").html("");
	
	for(var i = 0; i < desc_data.length; i++){
		var o = desc_data[i];
				
		tmp = template_detail.replace('[multimedia]', o.display_type == 'half-screen'? template_b_halfscreen : template_b_fullscreen);
		
		if (o.display_type == 'half-screen')
			replace_tag = (i % 2 == 0 ? '[left-screen]' : '[right-screen]')
		else
			replace_tag = '[full-screen]';
		
		tmpb = template_c[o.type];		
		tmp = tmp.replace(replace_tag, tmpb);
		tmp = tmp.replace(/\[(left|right|full)-screen\]/, '');
		tmp = tmp.replace(/\[url\]/g, o.media);
		tmp = tmp.replace(/\[desc\]/g, o.message);
		tmp = tmp.replace(/\[type\]/g, o.type);
		tmp = tmp.replace(/\[id\]/g, (i + 1));
		
		str_return += tmp;
		
		
		link_tmp += '<link rel="prefetch" href="' + o.media + '" />';
		//Format & extend string
		desc_data[i]["display_area"] = "#display-area-" + (i + 1);
		desc_data[i]["time"] = parseFloat(desc_data[i]["time"]);
		desc_data[i]["minus_time"] = (i == 0 ? 0 : (desc_data[i]["time"] - desc_data[i - 1]["time"]));
		
		
		//Check index
	}
	$(".pre-load-img").html(link_tmp);
	$("#dom-data").html(str_return).find("video").bind("timeupdate", function(){
		$(".dom-time").html(multimedia_obj.currentTime);
	});
	return str_return;
}

var scroll_to = function(orig, id){
	
	if(orig > desc_data.length && orig > SCROLL_INDEX_INT) return;
	
	var nextDom = $(desc_data[id - 1]["display_area"]);
	/*if (nextDom)
	{
		var img = nextDom.find(".img-tag"),
			img_orig = img.attr("data-orig");
		//img.attr("src", img_orig).attr("data-orig", "");
		img.addClass("img-fullscreen").removeClass("img-1x1");
	}
	*/
	
	
	
	if (is_fade && id != SCROLL_INDEX_INT)
	{
		/*thisDom.fadeOut({duration: 1000});
		nextDom.fadeIn(1000, function()
		{
			var canvas = nextDom.find("canvas")[0],
				canvasContext	= canvas.getContext("2d");
				canvasContext.drawImage($("<img src='" + canvas.getAttribute("data-origsrc") + "'/>")[0], 0, 0, canvas.width, canvas.height);
		});*/
		
		/*canvas.clearRect(0, 0, canvas.width, canvas.height);
        canvas.save();
        canvas.globalAlpha = 0.1;
        canvas.drawImage($("<img src='" + desc_data[id - 1]['media'] + "'/>")[0] , 0, 0);
        canvas.restore();
		*/
		imageFade.createImageObject(desc_data[orig - 1]['media'], desc_data[id - 1]['media']);
		imageFade.timeval = setInterval(function(){
           imageFade.initFadeImage().drawFadeImage();
        }, 100);

		
		/*$("html, body").animate(
			{scrollTop: nextDom.offset().top - 200 + "px"},
			{
				duration: 1000,
				easing: "swing"
			}
		);*/
		//swing code
	}
	else
	{
		//$(document).scrollTop(nextDom.offset().top - 200);
	}
	
	
	if (nextDom.attr("data-type") == "video")
	{
		multimedia_obj = nextDom.find("video")[0];
		audio_obj.pause();
		is_multimedia_display = true;
	}
	else
	{
		if (is_multimedia_display)
		{
			multimedia_obj.pause();
			if (multimedia_obj.readyState == 4) multimedia_obj.currentTime = 0;
			multimedia_obj = audio_obj;
			audio_obj.play();
			is_multimedia_display = !is_multimedia_display;
		}
	}
	
	//memory
	//try{$(desc_data[orig - 1].display_area).removeClass("display-screen").addClass("hide-screen"); ;}catch(e){}
	if (orig != id) setTimeout(function(){
		try{
			var img = $(desc_data[orig - 1]["display_area"] + " .img-tag"),
				img_orig = img.attr("src");
			//img.attr("data-orig", img_orig).attr("src", "");
			img.removeClass("img-fullscreen").addClass("img-1x1");
		}catch(e){}
	}, 1000);
	
}

var scroll_page = function(i){
	var orig_sint = scroll_int;
	if (typeof(i) == 'undefined') i = 1;
	scroll_int += i;
	if(scroll_int >= desc_data.length + 1 || scroll_int <= -1) scroll_int = SCROLL_INDEX_INT;
	scroll_to(orig_sint, scroll_int);
}

var func_audio_events = function (data){
	console.log(data);
	switch(data.data.method)
	{
		case "play":
			multimedia_obj.play();
		break;
		case "pause":
			multimedia_obj.pause();
		break;
		case "stop":
			multimedia_obj.currentTime = 0;
			multimedia_obj.pause();
		break;
	}
	data['data'] = null;
	socket.emit('result', data);
}

var func_page_events = function (data){
	console.log(data);
	var result = data, name = data.data.method, data = data.data;
	
	var page_event = {
		'run_javascript': function(){eval(data.code)},
		'init': function(){location.reload();}
	}
	
	page_event[name]();
	result['data'] = null;
	socket.emit('result', result);
}

var func_screen_events = function (data){
	console.log(data);
	var screen_event = {
		'toggle': function(){scroll_page(data.data.pageplus)},
		'skipto': function(){to_program(data.data.id)},
		'score': function(){
			//multimedia_obj.volume = 0;
			$(".dom-playing-id").text(0);
			$(".dom-playing-name").text("排名展示");
			$(".dom-playing-player").text("<%=title%>");
			audio_obj.src = in_score_background_music;
			
			$("#program-background").animate(
				{marginLeft: -3000},
				1000,
				function(){
					//scroll_to(0, SCROLL_INDEX_INT);
					//scroll_int = SCROLL_INDEX_INT;
					$(document).scrollTop(0);
					$("#program-background").hide();
					$("#program-score").show();
					$("#program-score").animate(
						{marginLeft: 0},
						1000,
						function(){
							draw_chart();
							//setTimeout(function(){draw_chart();}, 3000);							
						}
					);
				}
			);
		},
		'background': function(){
			program_id = 0;
			to_program(0);
			init_program();
			audio_obj.src = ((program.bgm != '') ? program.bgm: no_audio_default_bgm);
			$("#program-score").animate(
				{marginLeft: 3000},
				1000,
				function(){
					$("#program-score").hide();
					$("#program-background").show();
					$("#program-background").animate(
						{marginLeft: 0},
						1000
					);
				}
			)
		}
	}
	screen_event[data.data.method]();
	data['data'] = null;
	socket.emit('result', data);
}

var func_data_events = function (data){
	programs = data;
	program_id = 0;
	to_program(0);
}

var to_program = function(new_program_id){
	program_id = new_program_id;
	program = programs[program_id];
	desc_data = program.display;
	init_program();
	audio_obj.src = ((program.bgm != '') ? program.bgm: no_audio_default_bgm);
	//multimedia_obj = audio_obj;
	//is_multimedia_display = false;
}


var init_program = function(){
	if (program.display.length > 0)
	{
		SCROLL_INDEX_INT = program.display[0]['index'] ? 1 : 0;
		is_repeat =  program.display[0]['repeat'] ? true : false;
		is_fade = (typeof(program.display[0]['swing']) == 'undefined') ? true : program.display[0]['swing'];
	}
	else
	{
		SCROLL_INDEX_INT = 0;
	}
	desc_data[-1] = {};
	desc_data[-1]["display_area"] = "#display-area-" + SCROLL_INDEX_INT;
	
	setTimeout(function(){
		thisDom = $("#display-area-0");
		writedesc_and_formatdata();
		scroll_to(SCROLL_INDEX_INT, SCROLL_INDEX_INT);
		scroll_int = SCROLL_INDEX_INT;
		$(".dom-playing-id").text(program.id);
		$(".dom-playing-name").text(program.program.name);
		$(".dom-playing-player").text(program.player.class + " " + program.player.name);
	}, 300);
}

var draw_chart = function(){
	$('#dom-score').highcharts({
		chart: {
			type: 'column',
			backgroundColor: '#333',
			height: 900,
			animation: {
                duration: 5000
            }
		},
		colors: [
		'#CFF700', 
		'#3CA0D0', 
		'#6BEC3B', 
		'#FF5A40'
		],
		title: {
			text: '',//'<%= title %>',
			style: {
				color: '#FFFFFF'
			}
	
		},
		xAxis: {
			categories: function() {
				var a = [];
				for (var i = 0; i <= programs.length - 1; i++) {
					a.push(programs[i].player.class)
				}
				return a;
			}(),
			labels: {
				style: {
					"font-family": "微软雅黑",
					"font-size": "30px",
					"color": "white",
					"line-height": "30px"
				},
				y: 45,
				rotation: -45,
				x: 30
			},
		},
		yAxis: {
			min: 0,
			title: {
				text: ''
			}
		},
		legend: {
			backgroundColor: '#FFFFFF',
			reversed: true,
			layout: 'horizontal'
		},
		plotOptions: {
			series: {
				stacking: 'normal'	
			}
		},
		series: build_series(true),
		credits: {
			enabled: false
		}
	});

	$(function(){
		var o = $('#dom-score').highcharts();
		for(var i = 0;i < o.series.length; i++)
		{
			for (var j = 0; j < programs.length; j++) {
				o.series[i].data[j].update(parseFloat(programs[j].score[i]));
			}						
		}
		o.redraw();
	});
}

var build_series = function(is_empty){
	series = [];
	series_name = [''];
	
	for(var i = 0; i < series_name.length; i++)
	{
		series.push({
			name: series_name[i],
			data: (function(){
				var scores = [];
				for(var i = 0; i < programs.length; i++) scores.push(0);
				return scores;
			})()
		});
	}
	
	return series;

}


var sleep = function (numberMillis) { 
	var now = new Date();
	var exitTime = now.getTime() + numberMillis;  
	while (true) { 
		now = new Date(); 
		if (now.getTime() > exitTime)    return;
	}
}


var imageFade = {
	alpha: 0
	,maxAlpha: 100
	,nowindex: 0
	,nextindex: 1
	,timeval: null
	,nextImg: null
	,nowImg: null
	,createImageObject: function(now_src, next_src)
	{
		this.nowImg = new Image();
		this.nextImg = new Image();
		this.nowImg.src = now_src;
		this.nextImg.src = next_src;
	}
	,initFadeImage: function(time_obj)
	{
		if(++this.alpha > this.maxAlpha)
		{
			window.clearInterval(this.timeval);
			this.timeval = null;
			this.alpha = 0;
		}
		return this;
	}
	,drawFadeImage: function()
	{
		if (this.timeval == null) return
		canvasContext.clearRect(0, 0, canvas.width, canvas.height);

		var alpha_2 = (this.alpha / this.maxAlpha);
		var alpha_1 = 1 - alpha_2;
		canvasContext.save();
		canvasContext.globalAlpha = alpha_1;
		canvasContext.drawImage(this.nowImg, 0, 0, this.nowImg.width, this.nowImg.height, 0, 0, canvas.width, canvas.height);
		canvasContext.restore();
		
		canvasContext.save();
		canvasContext.globalAlpha = alpha_2;
		canvasContext.drawImage(this.nextImg, 0, 0, this.nextImg.width, this.nextImg.height, 0, 0, canvas.width, canvas.height);
		canvasContext.restore();

	}
}
</script>
</body>
</html>